.logo img {
    width:100px;
}
.row a{
    text-decoration: none
}

/* Hoa quả nội */
.heading{
    width:100%;
    height:50px;
    text-align: center;
    color: rgb(160, 34, 129);

}
/* pooter */
footer {
    text-align: center;
}
.footer-top{
    display:flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top img{
    height: 50px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;

}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin-right:12px;
    color:#333;
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    margin:20px;
    text-align: center;
    color:burlywood;
}




